.big1{
    font-size: larger;color: #0303fc;
}
.big2{
    height: 500px;
}
.big3{
    font-size: larger;color: #0303fc;
}
.big4{
    font-size: larger;
}
.big5{
    font-size: larger;color: #0303fc;
}